/* COLORS: Light green: #7ed56f Medium green: #55c57a Dark green: #28b485 */
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 body {
	 font-family: "lato", sans-serif;
	 font-weight: 400;
	 font-size: 16px;
	 line-height: 1.7;
	 color: #777;
	 padding: 30px;
}
 .header {
	 height: 95vh;
	 background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('https://lh3.googleusercontent.com/proxy/WXYpmygUpUGMJVtuGzbmeq2tN_DNW47rU4o6ViVGU-gWZGCdDOfbnUVe4sIVo9A1O2Q_fpe8RZgjqfJkI0pNBCYzfrT80aJLJn2UvnV4LQ3NNLhiZJ-mDPX_NZGTkNQ');
	 background-size: cover;
	 background-position: top;
	 position: relative;
	 clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}
 .header__logo-box {
	 position: absolute;
	 top: 40px;
	 left: 40px;
}
 .header__logo-box-logo {
	 height: 40px;
}
 .heading-primary {
	 color: #fff;
	 text-transform: uppercase;
	 backface-visibility: hidden;
}
 .heading-primary--main {
	 display: block;
	 font-size: 60px;
	 font-weight: 400;
	 letter-spacing: 35px;
	 animation-name: moveInLeft;
	 animation-duration: 1s;
	/*animation-delay: 2s;
	 animation-iteration-count: 3;
	*/
}
 .heading-primary--sub {
	 display: block;
	 font-size: 20px;
	 font-weight: 700;
	 letter-spacing: 17.4px;
	/*animation-name: moveInRght;
	*/
	 animation: moveInRght 1s ease-out;
}
 .header__text-box {
	 position: absolute;
	 top: 40%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 text-align: center;
}
 @keyframes moveInLeft {
	 0% {
		 opacity: 0;
		 transform: translateX(-100px);
	}
	 80% {
		 transform: translateX(10px);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0);
	}
}
 @keyframes moveInRght {
	 0% {
		 opacity: 0;
		 transform: translateX(100px);
	}
	 80% {
		 transform: translateX(-10px);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0);
	}
}
 .btn:link, .btn:visited {
	 text-transform: uppercase;
	 text-decoration: none;
	 padding: 15px 40px;
	 display: inline-block;
	 border-radius: 100px;
	 transition: all 0.2s;
	 position: relative;
}
 .btn:hover {
	 transform: translateY(-3px);
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
 .btn:active {
	 transform: translateY(3px);
	 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
 .btn--white {
	 background-color: #fff;
	 color: #777;
}
 .btn::after {
	 content: "";
	 display: inline-block;
	 height: 100%;
	 weight: 100%;
	 border-radius: 100px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 transition: all 0.4s;
}
 .btn--white::after {
	 background-color: #fff;
}
 .btn:hover::after {
	 transform: scaleX(1.5) scaleY(1.6);
	 opacity: 0;
}
 @keyframes moveInBottom {
	 0% {
		 opacity: 0;
		 transform: translateY(30px);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0);
	}
}
 .btn--animate {
	 animation: moveInBottom 0.5s ease-out 0.75s;
	 animation-fill-mode: backwards;
}
